# EditorConfig: https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{gd,gdshader,godot,tscn,tres}]
indent_style = tab
indent_size = 4
max_line_length = 140

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

[*.{md,txt}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
